.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.container table {
  padding: 70px 30px;
  text-align: left;
}

.container table th,
.container table td {
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 0%;
}

.container table .count {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container table .count span {
  background-color: #de0067;
  padding: 0px 20px;
  border-radius: 5px;
}